.btn-float-in-row {
    position: absolute !important;
    padding: 4px !important;
    margin: 0 !important;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
.overlay__content {
    transform: translate(-50%, -50%) scale(0.5);
}
.edit-post-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    background: white;
    padding-top: 10px;
    overflow: scroll;
}
.tool-container {
    display: flex;
    align-content: center;
    align-items: center;
}
.tool-container span{
    cursor: pointer;
}
.mat-tab-group {
    min-width: 100%;
}
