<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!-- <div class="card-header card-header-info">
                        <h4 class="card-title ">Your Post</h4>
                    </div> -->
                    <form class="form-under-table-header row" (ngSubmit)="searchPost()">
                        <!--  date -->

                        <div class="col-md-4" *ngIf="!itemSelected || !itemSelected.id">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>From</mat-label>
                                <input matInput [matDatepicker]="pickerFrom" name="dateFrom"
                                    [formControl]="searchDateFrom">
                                <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFrom></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4" *ngIf="!itemSelected || !itemSelected.id">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>To</mat-label>
                                <input matInput [matDatepicker]="pickerTo" name="dateTo" [formControl]="searchDateTo">
                                <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                                <mat-datepicker #pickerTo></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- type -->
                        <div class="col-md-4" *ngIf="!itemSelected || !itemSelected.id">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Trạng thái</mat-label>
                                <mat-select [(ngModel)]="searchStatus" [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let item of statusList; let i = index"
                                        [(value)]="statusList[i]">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- button search -->
                        <div class="col-md-4">
                            <button *ngIf="!itemSelected || !itemSelected.id" mat-raised-button type="submit"
                                [disabled]="isLoadingResults" class="btn btn-info pull-right btn-w100">
                                <i class="material-icons">search</i>
                                Search
                            </button>
                            <button *ngIf="itemSelected && itemSelected.id" mat-raised-button type="button"
                                (click)="back()" [disabled]="isLoadingResults" class="btn btn-info pull-right btn-w100">
                                <i class="material-icons">save</i>
                                Save & Back
                            </button>
                        </div>
                        <!-- button add -->
                        <div class="col-md-4" *ngIf="!itemSelected || !itemSelected.id">
                            <button mat-raised-button type="button" matTooltip="Add Empty Row"
                                class="btn btn-success pull-right btn-w100" (click)="addPost()">
                                <i class="material-icons">add</i>
                                Add Empty Post
                            </button>
                        </div>

                        <!-- tag -->
                        <div class="col-md-4" *ngIf="itemSelected && itemSelected.id">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Tags</mat-label>
                                <mat-select [(ngModel)]="itemSelected.tags" [ngModelOptions]="{standalone: true}"
                                    multiple (ngModelChange)="saveItem(itemSelected.id, itemSelected, -1)">
                                    <mat-option *ngFor="let item of listTag; let i = index" [(value)]="listTag[i]._id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- cat -->
                        <div class="col-md-4" *ngIf="itemSelected && itemSelected.id">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Categories</mat-label>
                                <mat-select [(ngModel)]="itemSelected.category" [ngModelOptions]="{standalone: true}"
                                    multiple (ngModelChange)="saveItem(itemSelected.id, itemSelected, -1)">
                                    <mat-option *ngFor="let item of listCategory; let i = index"
                                        [(value)]="listCategory[i]._id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- permission -->
                        <div class="col-md-4" *ngIf="itemSelected && itemSelected.id">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Permission</mat-label>
                                <mat-select [(ngModel)]="itemSelected.permission" [ngModelOptions]="{standalone: true}"
                                    (ngModelChange)="saveItem(itemSelected.id, itemSelected, -1)">
                                    <mat-option *ngFor="let item of listPermisson; let i = index"
                                        [(value)]="listPermisson[i]">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- background cover -->

                        <div class="col-md-4" *ngIf="itemSelected && itemSelected.id">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Background cover</mat-label>
                                <mat-select [(ngModel)]="itemSelected.postBackgroundImg" [compareWith]="compareWithFunc"
                                    (ngModelChange)="saveItem(itemSelected.id, itemSelected, -1)">
                                    <mat-option *ngFor="let item of listFileOnServer; let i = index"
                                        [(value)]="listFileOnServer[i].urlGet">
                                        {{item.originName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- tools -->
                        <div class="col-md-8 tool-container" *ngIf="itemSelected && itemSelected.id">
                            <span class="material-icons md-36" matTooltip="Goto Full Screen" (click)="openFullscreen()">
                                fullscreen
                            </span>
                            <span class="material-icons md-36" matTooltip="Split Horizontal"
                                (click)="splitHorizontal()">
                                horizontal_split
                            </span>
                            <span class="material-icons md-36" matTooltip="Split Vertical" (click)="splitVertical()">
                                vertical_split
                            </span>
                        </div>
                    </form>
                    <div class="card-body">
                        <div *ngIf="!itemSelected || !itemSelected.id; else postView" class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th style="max-width: 120px; min-width: 120px; width: 120px;">
                                        Update At
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                </thead>
                                <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                                    <ng-container *ngIf="data && data.length; else noDataBlock">
                                        <tr class="hover-pointer-td" *ngFor="let post of data; let index = index"
                                            cdkDrag [ngClass]="{
                                            'ghost-public-item': post.permission == 'PUBLIC',
                                            'ghost-private-item': post.permission == 'PRIVATE',
                                            'ghost-protected-item': post.permission == 'PROTECTED'
                                        }">
                                            <td class="text-center">
                                                <span class="hover-pointer" (click)="chooseThisItem(post)"
                                                    matTooltip="Create At: {{ post.createdAt | date: 'dd-MM HH:mm' }}">
                                                    {{ post.updatedAt | date: 'dd-MM HH:mm' }}
                                                </span>
                                            </td>
                                            <td>
                                                <span (click)="chooseThisItem(post.id)" class="hover-pointer">{{
                                                    post.title }}
                                                </span>
                                                <button mat-raised-button type="button" matTooltip="Delete Post"
                                                    [disabled]="isLoadingResults"
                                                    class="btn btn-float-in-row btn-round btn-danger pull-right"
                                                    (click)="deletePost(post)">
                                                    <i class="material-icons red">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noDataBlock>
                                        <tr class="text-center">
                                            <td colspan="100%" class="text-center">
                                                <app-table-loading (size)="'sm'"></app-table-loading>
                                                No data
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                        </div>
                        <ng-template #postView>
                            <!-- Title -->
                            <textarea type="text" [(ngModel)]="itemSelected.title" class="editable wd100"
                                (blur)="saveItem(itemSelected.id, itemSelected, index);false" autosize [minRows]="1"
                                [maxRows]="3" [useImportant]="true" [disabled]="isLoadingResults">
                            </textarea>

                            <textarea type="text" [(ngModel)]="itemSelected.description" class="editable wd100"
                                (blur)="saveItem(itemSelected.id, itemSelected, index);false" autosize [minRows]="1"
                                [maxRows]="3" [useImportant]="true" [disabled]="isLoadingResults">
                            </textarea>
                            <div id="edit-post-container" class="edit-post-container" [ngStyle]="{
                                'flex-direction': isSplitHorizontal ? 'column' : 'row'
                            }">
                                <!-- raw text -->
                                <textarea type="text" [(ngModel)]="itemSelected.content"
                                    class="editable wd100 variable-textarea" [ngClass]="{
                                    'split-horizontal': this.isSplitHorizontal
                                }" (blur)="saveItem(itemSelected.id, itemSelected, index);false" autosize [minRows]="1"
                                    [useImportant]="true" [disabled]="isLoadingResults">
                            </textarea>
                                <!-- text to markdown -->
                                <markdown class="variable-binding" [ngClass]="{
                                'split-horizontal': this.isSplitHorizontal
                            }" [data]="itemSelected.content">
                                </markdown>
                            </div>
                        </ng-template>
                        <button *ngIf="itemSelected && itemSelected.id" mat-raised-button type="button" (click)="back()"
                            [disabled]="isLoadingResults" class="btn btn-info pull-right btn-w100">
                            <i class="material-icons">save</i>
                            Save & Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>