<div class="main-content" tabindex="-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" tabindex="-1">
                    <!-- <div class="card-header card-header-info">
                        <h4 class="card-title ">Your Note</h4>
                    </div> -->
                    <form class="form-under-table-header row" (ngSubmit)="searchNote()">
                        <!-- button search -->
                        <div class="col-md-4">
                            <button *ngIf="!itemSelected || !itemSelected.id" mat-raised-button type="submit"
                                [disabled]="isLoadingResults" class="btn btn-info pull-right btn-w100">
                                <em class="material-icons">search</em>
                                Search
                            </button>
                            <button *ngIf="itemSelected && itemSelected.id" mat-raised-button type="button"
                                (click)="saveThenBack()" [disabled]="isLoadingResults"
                                class="btn btn-info pull-right btn-w100">
                                <em class="material-icons">save</em>
                                Save & Back
                            </button>
                        </div>
                        <!-- button add -->
                        <div class="col-md-4">
                            <button *ngIf="!itemSelected || !itemSelected.id" mat-raised-button type="button"
                                matTooltip="Add Empty Row" class="btn btn-success pull-right btn-w100"
                                (click)="addNote()">
                                <em class="material-icons">add</em>
                                Add Empty Note
                            </button>
                        </div>
                    </form>
                    <div class="card-body">
                        <div *ngIf="!itemSelected || !itemSelected.id; else noteView" class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th style="max-width: 120px; min-width: 120px; width: 120px;">
                                        Update At
                                    </th>
                                    <th>
                                        Header
                                    </th>
                                </thead>
                                <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                                    <ng-container *ngIf="data && data.length; else noDataBlock">
                                        <tr *ngFor="let note of data; let index = index" cdkDrag
                                            class="hover-pointer-td">
                                            <td class="text-center">
                                                <span class="hover-pointer" (click)="chooseThisItem(note)"
                                                    matTooltip="Create At: {{ note.createTime | date: 'dd-MM HH:mm' }}">
                                                    {{ note.updateTime | date: 'dd-MM HH:mm' }}
                                                </span>
                                            </td>
                                            <td>
                                                <span (click)="chooseThisItem(note)" class="hover-pointer">{{
                                                    note.header }}
                                                </span>
                                                <button mat-raised-button type="button" matTooltip="Delete Note"
                                                    [disabled]="isLoadingResults"
                                                    class="btn btn-float-in-row btn-round btn-danger pull-right"
                                                    (click)="deleteNote(note)">
                                                    <em class="material-icons red">delete</em>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noDataBlock>
                                        <tr class="text-center">
                                            <td colspan="100%" class="text-center">
                                                <app-table-loading (size)="'sm'"></app-table-loading>
                                                No data
                                            </td>
                                        </tr>
                                    </ng-template>
                                </tbody>
                            </table>
                        </div>
                        <ng-template #noteView>
                            <textarea type="text" [(ngModel)]="itemSelected.header" class="editable wd100"
                                (blur)="saveItem(itemSelected.id, itemSelected, index);false" autosize [minRows]="1"
                                [maxRows]="3" [useImportant]="true" [disabled]="isLoadingResults"></textarea>
                            <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="itemSelected.content"
                                (blur)="saveItem(itemSelected.id, itemSelected, index);false"
                                [disabled]="isLoadingResults">
                            </angular-editor>
                        </ng-template>
                        <button *ngIf="itemSelected && itemSelected.id" mat-raised-button type="button"
                            (click)="saveThenBack()" [disabled]="isLoadingResults"
                            class="btn btn-info pull-right btn-w100">
                            <em class="material-icons">save</em>
                            Save & Back
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>