.progress-label {
    height: auto !important;
    display: flex;
    justify-content: space-between;
}

p {
    margin-bottom: 0 !important;
}
strong {
    font-weight: bold;
}

.h6px {
    height: 6px;
    background: white;
}