.help-button-bottom-right {
    right: 22px;
    bottom: 22px;
    border: none;
    position: fixed;
    min-width: 104px;
    max-width: 156px;
    height: 56px;
    z-index: 2147483000;
    visibility: visible;
}

.blzvQB.launcher-button {
    animation: 0.1s ease 0s 1 normal none running dewAppear;
}

.blzvQB {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    float: right;
    border-radius: 30px 8px 30px 30px;
    background-color: rgb(0, 96, 99);
    box-shadow: none;
    color: rgb(255, 255, 255);
    z-index: 2147483647;
    cursor: pointer;
    padding: 8px;
    transition: all 0.1s ease-out 0s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

svg {
    fill: rgb(255, 255, 255);
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 1px;
}

.blzvQB.launcher-button .launcher-text {
    animation: 0.5s ease 0s 1 normal forwards running dewSlide;
}

.hmSVpf {
    font-size: 0.875rem;
    font-weight: 600;
    float: left;
    user-select: none;
    margin: 0px 8px 2px 6px;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s ease-in-out 0s;
}

.blzvQB * {
    box-sizing: border-box;
}

.blzvQB {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    float: right;
    border-radius: 30px 8px 30px 30px;
    background-color: rgb(0, 96, 99);
    box-shadow: none;
    color: rgb(255, 255, 255);
    z-index: 2147483647;
    cursor: pointer;
    padding: 8px;
    transition: all 0.1s ease-out 0s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.fixed-plugin:hover {
    overflow: visible;
}
.fixed-plugin {
    border-radius: 8px;
    position: fixed;
    left: 50%;
    top: 80%;
    transform: translate(-50%, 0);
    background: transparent !important;
    overflow: hidden;
    z-index: 10;
}
.fixed-plugin .fa-custom {
    color: #ffffff;
    padding: 10px;
    width: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.c-red {
    color: red !important;
}
.c-blue {
    color: #55b559 !important;
}
.overlay {
    position: fixed;
}
.example-handle {
    position: absolute;
    cursor: move;
    z-index: 1000;
}
.btn-expand-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.btn-expand-top {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
    border-radius: 8px 8px 0 0;
}
.btn-expand-left {
    left: 0%;
    top: 50%;
    transform: translate(-100%, -50%);
    border-radius: 8px 0 0 8px;
}
.btn-expand-right {
    left: 0%;
    top: 50%;
    transform: translate(100%, -50%);
    border-radius: 0 8px 8px 0;
}
.btn-expand-bottom {
    left: 50%;
    top: 0%;
    transform: translate(-50%, 100%);
    border-radius: 0 0 8px 8px;
}
.btn-expand {
    position: absolute;
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0.3);
}
.dropdown.show-dropdown.open.show {
    width: 64px;
    height: 64px;
}
.fixed-plugin img {
    border-radius: 0;
    width: auto;
    height: auto;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.c-purple {
    color: #8A71B5 !important;
}