.file-list__img-preview {
    height: 50px;
}

.show-more-post-container {
    display: flex;
    justify-content: center;
    padding: 0;
}

.show-more-post {
    cursor: pointer;
    font-weight: bold;
    color: white;
}
