.header-box {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.ghost-wrapper {
    margin: auto;
    max-width: 1024px;
    position: relative;
}

.ghost-box {
    display: flex;
    flex-direction: column;
}

.ghost-box > div {
    margin: auto;
    padding: 5px;
    text-align: center;
}
.page.entered {
    -webkit-animation: boom 0.1s;
    animation: boom 0.1s;
    opacity: 1;
}
.post .post-thumbnail {
    background-position: 50% 50%;
    background-size: cover;
    max-width: 100%;
    min-height: 11rem;
}
//
.article-page,
.post {
    background-color: #fff !important;
    max-width: 100% !important;
}
.content-box,
.post {
    align-items: stretch;
    display: flex;
    flex-direction: row;
}
article,
aside,
footer,
header,
nav,
section {
    display: block;
}

.content-box {
    display: flex;
    flex-direction: column;
    position: relative;
}
.post {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #ccc;
    margin-bottom: 1.5rem;
    max-width: 100%;
    min-height: 11rem;
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
}
.post .post-content {
    padding: 1rem;
}
.post .post-content .post-title {
    font-weight: 400;
    margin: 0 0 10px;
    font-size: 1.5rem;
}
.post .post-content .post-date,
.post .post-content .post-words {
    font-size: 12px;
}
.post-loading {
    width: 100%;
    height: 100%;
    min-height: 201px;
}
.private-post {
    opacity: 0.5;
}
.private-post:after {
    content: "Private";
    right: 0;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    transform: rotate(30deg);
    padding: 5px 10px;
    width: 67px;
    color: black;
    opacity: 1;
}

@media screen and (min-width: 991px) {
    .post {
        align-items: stretch;
        display: flex;
        flex-direction: row;
    }
    .post .post-thumbnail {
        width: 30%;
    }
    .post .post-content {
        width: 70%;
    }
    .post .post-content .post-title {
        font-size: 2.25rem;
    }
}
