.header-box {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.ghost-wrapper {
    margin: auto;
    max-width: 1024px;
    position: relative;
    height: 84vh !important;
}

.ghost-box {
    display: flex;
    flex-direction: column;
}

.ghost-box > div {
    margin: auto;
    padding: 5px;
    text-align: center;
}
