<!-- <div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
      <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email" formControlName="username"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">Please enter your username</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">Please enter your password</span>
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button type="submit" [disabled]="!loginForm.valid" mat-flat-button color="primary">Login</button>
      </div>
      <div class="button-row">
        <button type="button" mat-flat-button color="primary" (click)="register()">Register</button>
      </div>
    </form>
  </mat-card>
</div> -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="justify-content: center;">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Login</h4>
            <!-- <p class="card-category">Complete your profile</p> -->
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="email" placeholder="Email" formControlName="username"
                      [errorStateMatcher]="matcher">
                    <mat-error>
                      <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                        Please enter your username
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="password" placeholder="Password" formControlName="password"
                      [errorStateMatcher]="matcher">
                    <mat-error>
                      <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                        Please enter your password
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Don't have account? <a href="javascript:void(0)" (click)="register()">Register</a></p>
                </div>
              </div>
              <button mat-raised-button type="submit" [disabled]="!loginForm.valid"
                class="btn btn-info pull-right">Login</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>