<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">User</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        User Name
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                    <th>
                                        Permission
                                    </th>
                                    <th>
                                        Update By
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users; let index = index">
                                        <td>
                                            {{ index + 1 }}
                                        </td>
                                        <td>
                                            {{ user.fullName }}
                                        </td>
                                        <td>
                                            {{ user.username }}
                                        </td>
                                        <td>
                                            {{ user.status }}
                                        </td>
                                        <td>
                                            {{ user.permission}}
                                        </td>
                                        <td>
                                            {{ user.updateBy }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>