.output-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 10px;
}

.output {
    flex: 10 150px;
    align-items: center;
    position: relative;
    display: inline-block;
    background-color: var(--background-secondary);
    margin: 0;
    padding: 0.8em;
    border-radius: var(--elem-radius);
    width: 100%;
    height: 120px;
    font: var(--type-code-regular);
    border: 1px solid var(--border-primary);
}

.scrollable {
    overflow-x: scroll;
    margin-bottom: 15px;
}

.row-success {
    color: #55a763 !important;
}

.row-error {
    color: #F14C4C !important;
}