<div class="main-content">
    <div class="container-fluid">
        <div class="row" style="justify-content: center;">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Change password</h4>
                    </div>
                    <div class="card-body">
                        <form *ngIf="state === 1; else state2" [formGroup]="sentOTPForm"
                            (ngSubmit)="callSentOTP(sentOTPForm.value)">
                            <div class="row">
                                <!-- email -->
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <input matInput type="email" placeholder="Email" formControlName="email"
                                            [errorStateMatcher]="matcher" disabled>
                                        <mat-error>
                                            <span
                                                *ngIf="!sentOTPForm.get('email').valid && sentOTPForm.get('email').touched">
                                                Please enter your email
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" [disabled]="!sentOTPForm.valid || isRunning"
                                class="btn btn-info pull-right btn-w100">Send OTP to my email</button>
                            <div class="clearfix"></div>
                        </form>
                        <ng-template #state2>
                            <form [formGroup]="resetPasswordForm"
                                (ngSubmit)="callUpdateNewPassword(resetPasswordForm.value)">
                                <div class="row">
                                    <!-- email -->
                                    <div class="col-md-12">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="email" placeholder="Email" formControlName="email"
                                                [errorStateMatcher]="matcher" disabled>
                                            <mat-error>
                                                <span
                                                    *ngIf="!resetPasswordForm.get('email').valid && resetPasswordForm.get('email').touched">
                                                    Please enter your email
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <ng-container *ngIf="state === 2">
                                        <!-- OTP -->
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="text" placeholder="OTP" formControlName="otp"
                                                    [errorStateMatcher]="matcher" [disabled]="state === 2">
                                                <mat-error>
                                                    <span
                                                        *ngIf="!resetPasswordForm.get('otp').valid && resetPasswordForm.get('otp').touched">
                                                        Please enter your otp
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <!-- password -->
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="password" placeholder="Enter new password"
                                                    formControlName="password" [errorStateMatcher]="matcher">
                                                <mat-error>
                                                    <span
                                                        *ngIf="!resetPasswordForm.get('password').valid && resetPasswordForm.get('password').touched">
                                                        Please enter your new password
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>

                                        <!-- confirm password -->
                                        <div class="col-md-12">
                                            <mat-form-field class="example-full-width">
                                                <input matInput type="password" placeholder="Enter new password again"
                                                    formControlName="confirmPassword" [errorStateMatcher]="matcher">
                                                <mat-error>
                                                    <span
                                                        *ngIf="!resetPasswordForm.get('confirmPassword').valid && resetPasswordForm.get('confirmPassword').touched">
                                                        Please enter your new password again.
                                                    </span>
                                                    <span
                                                        *ngIf="resetPasswordForm.hasError('notSame') && resetPasswordForm.get('confirmPassword').touched">
                                                        Password does not match.
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </ng-container>
                                </div>
                                <button mat-raised-button type="submit"
                                    [disabled]="!resetPasswordForm.valid || isRunning"
                                    class="btn btn-info pull-right btn-w100">Update</button>
                                <div class="clearfix"></div>
                            </form>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>