<div class="main-content">
  <div class="container-fluid">
    <div class="row" style="justify-content: center;">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Login</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="email" placeholder="Email" formControlName="username"
                      [errorStateMatcher]="matcher">
                    <mat-error>
                      <span *ngIf="!loginForm.get('username').valid && loginForm.get('username').touched">
                        Please enter your username
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput type="{{isShowPassword ? 'text' : 'password'}}" placeholder="Password"
                      formControlName="password" [errorStateMatcher]="matcher">
                    <ng-container *ngIf="countClick < 10; else eyeIsHurtPart">
                      <i *ngIf="!isShowPassword" (click)="showPassword()" class="fa fa-eye reveal-password"
                        aria-hidden="true"></i>
                      <i *ngIf="isShowPassword" (click)="hidePassword()" class="fa fa-eye-slash reveal-password"
                        aria-hidden="true"></i>
                    </ng-container>
                    <ng-template #eyeIsHurtPart>
                      <img (click)="toggleShowPassword()" loading="lazy"
                        class="reveal-password red" src="/assets/custom-icon/hurt-eye.jpg" alt="It's hurt">
                    </ng-template>
                    <mat-error>
                      <span *ngIf="!loginForm.get('password').valid && loginForm.get('password').touched">
                        Please enter your password
                      </span>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Don't have account? <a href="javascript:void(0)" (click)="register()">Register</a></p>
                </div>
                <div class="col-md-12">
                  <p>Forgot your password? <a href="javascript:void(0)" (click)="resetPassword()">Reset password</a>
                  </p>
                </div>
              </div>
              <button mat-raised-button type="submit" [disabled]="!loginForm.valid || isRunning"
                class="btn btn-info pull-right btn-w100">Login</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>