<json-editor #text1
	[options]="editorOptions"
	[data]="initialData"
	(change)="showJson($event);"
	(scroll)="onScroll1($event)"
	id="json-editor-left"
	name="json-editor-left"
	class="json-editor-left">
</json-editor>
<div class="json-controler">
	<button [disabled]="isLoadingResults"
		(click)="findDiff()"
		id="find-diff"
		type="button"
		class="btn btn-info pull-right btn-responsive visible-hidden">
		<i class="material-icons">difference</i>
		Diff
	</button>
</div>
<json-editor #text2
	[options]="editorOptions2"
	[data]="initialData2"
	(change)="showJson2($event);"
	(scroll)="onScroll2($event)"
	id="json-editor-right"
	name="json-editor-right"
	class="json-editor-right">
</json-editor>
