<div *ngIf="mod === 'excelToJSON'" class="center drop-zone-container">
    <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)" accept=".xlsx,.xls,.csv" contentClassName="ghost-ngx-file-drop-content-style"
        multiple="false">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <span class="span__drag-description">Press the button or drag file here</span>
            <button class="btn btn-info" type="button" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
    <div class="upload-table">
        <table class="table">
            <thead>
                <!-- <tr>
                    <th>FileName</th>
                </tr> -->
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<json-editor *ngIf="mod === 'jsonToExcel'" id="json-editor-left" name="json-editor-left" class="json-editor-left"
    [options]="editorOptions" [data]="initialData" (change)="showJson($event);">
</json-editor>
<div class="json-controler">
    <div class="div__radio-label">
        <input id="json-to-excel" type="radio" class="radio" [value]="'jsonToExcel'" name="radio-name"
            [(ngModel)]="mod">
        <label for="json-to-excel">&nbsp;JSON Array to Excel</label>
    </div>
    <div class="div__radio-label">
        <input id="excel-to-json" type="radio" class="radio" [value]="'excelToJSON'" name="radio-name"
            [(ngModel)]="mod">
        <label for="excel-to-json">&nbsp;Excel to JSON</label>
    </div>

    <button id="execute" mat-raised-button type="button" [disabled]="isLoadingResults"
        class="btn btn-info pull-right btn-responsive" (click)="execute(mod)">
        Execute
    </button>
</div>
<json-editor *ngIf="mod === 'excelToJSON'" id="json-editor-right" name="json-editor-right" class="json-editor-right"
    [options]="editorOptions2" [data]="initialData2" (change)="showJson2($event);">
</json-editor>