<div class="clap-container">
    <ang-clap fillColor="green" [claps]="count" [showBorder]="true" [showAnimation]="true"
        (mouseClickEvent)="clapThisPost($event)" (mouseLeaveEvent)="updateClap()" (clearClapsEvent)="removeClap()">
    </ang-clap>
</div>
<div class="container post-container">

    <article class="article-page">
        <div class="back-to-hom-button"><a (click)="backToHome()">← Back to the Blog Home</a></div>
        <figure *ngIf="ready" class="d-flex-col-mid-center">
            <img loading="lazy" class="page-image" src="{{item.postBackgroundImg}}" alt="post's image">
        </figure>

        <div class="wrap-content" *ngIf="ready">
            <header class="header-page d-flex-col-mid-center">
                <h1 class="page-title">{{item?.title}}</h1>
                <div class="page-date">
                    {{item?.author}}
                    wrote
                    {{item?.createdAt | timeAgo }}
                    ({{item?.createdAt | date }})
                </div>
                <div style="margin-top: 1rem;">
                    <div class="tagging" *ngFor="let tag of item.tags">
                        <a class="tagging__item" [routerLink]="'/home'"
                            [queryParams]="{ tag: tag.name }">#{{tag.name}}</a>
                    </div>
                </div>
            </header>
        </div>
        <div class="post-description">
            <p>{{item?.description}}</p>
        </div>
        <div class="post-body">
            <ng-container *ngIf="ready">
                <docu-article *ngIf="item.type === POST_TYPE.GHOST_EDITOR; else markdownPart"
                    [documentation]="item.contentGhostEditor">
                </docu-article>

                <ng-template #markdownPart>
                    <markdown style="width: 100%" [data]="item.content">
                    </markdown>
                </ng-template>
            </ng-container>
        </div>
    </article>
</div>