.post-container {
    background-color: white;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clap-container {
    display: flex;
    position: fixed;
    bottom: 35%;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
}
ang-clap {
}
.post-thumbnail {
    height: 512px;
    width: 512px;
}
.page-image {
    height: 100%;
    width: 100%;
    max-height: 500px;
    max-width: max-content;
}

.header-page .page-title {
    font-weight: 400;
    line-height: 1.3;
    margin: 0 0 10px;
    font-size: 2em;
}
.header-page .page-date {
    font-size: 16px;
    font-weight: 300;
}
.wrap-content {
    padding: 20px;
}
.post-body {
    max-width: 90vw;
}
@media (max-width: 991px) {
    .post-container {
        // background-color: white;
        padding: 10px 20px;
    }
    .page-image {
        height: auto;
        width: 311px;
    }
}
