<div class="chart-container">
    <div id="controller-container" class="controller-container">
        <!-- choose chart => select -->
        <!-- new chart => maybe later -->
        <!-- edit data -->
        <!-- edit color -->
        <!-- edit color -->
        <div class="col-md-12">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Data</mat-label>
                <mat-select [(ngModel)]="dataNum" [ngModelOptions]="{standalone: true}" (ngModelChange)="dataNumChange()">
                    <mat-option *ngFor="let item of dataNumList; let i = index"
                        [(value)]="dataNumList[i]">
                        {{mapName[item]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-12">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Chart Type</mat-label>
                <mat-select [(ngModel)]="chartType" [ngModelOptions]="{standalone: true}" (ngModelChange)="chartTypeChange()">
                    <mat-option *ngFor="let item of chartTypeList; let i = index"
                        [(value)]="chartTypeList[i]">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div id="chartdiv" style="width: 100%; height: 400px; background-color: #FFFFFF;"></div>
    <div id="legend-container" class="legend-container">
        <div class="text-center">
            <!-- <label><strong style="font-size: 14px;">Trình độ học vấn</strong></label> -->
            <textarea type="text" (blur)="saveChartName();false" [(ngModel)]="chartName"
                class="editable wd100 custom-editable">
            </textarea>
            <ul id="ul-legend-container">
                <li *ngFor="let item of liList; let i = index"
                style="text-align: left"
                [ngStyle]="{
                    'color': item.color,
                    'list-style-type': item.type
                }">
                    <span style="color: black">
                        {{item.content}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>