.form-under-table-header {
    padding: 10px 0;
}

.warning * {
    color: #ff9e0f;
}

.success * {
    color: #55b559;
}

.primary * {
    color: #00cae3;
}

.future * {
    color: #a72abd;
}
.editable {
    border: none;
    outline: none;
    background: transparent;
}
.wd100 {
    width: 100%;
}
.hover-pointer {
    cursor: pointer;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto !important;
}
.show-on-hover {
    display: block;
}
.hide-on-leave {
    display: none;
}
.btn-show-on-hover {
    display: block;
}
.btn-float-in-row {
    position: absolute !important;
    padding: 4px !important;
    margin: 0 !important;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
.btn-move {
    height: 52.750px;
    padding: 0 10px;
    margin: 0;
}
.control-and-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.is-important *{
    font-weight: bold;
}