<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<form (ngSubmit)="searchToDoToDay()"
						class="form-under-table-header row">
						<div class="col-md-4 control-and-btn-container">
							<button (click)="decreaseDate()"
								class="btn btn-move">
								<span class="material-icons">arrow_back_ios</span>
							</button>
							<mat-form-field class="example-full-width"
								appearance="fill">
								<mat-label>Date</mat-label>
								<input [matDatepicker]="picker"
									[formControl]="searchDate"
									matInput
									name="date">
								<mat-datepicker-toggle [for]="picker"
									matSuffix></mat-datepicker-toggle>
								<mat-datepicker #picker></mat-datepicker>
							</mat-form-field>
							<button (click)="increaseDate()"
								class="btn btn-move">
								<span class="material-icons">arrow_forward_ios</span>
							</button>
						</div>
						<!-- search status, default all -->
						<div class="col-md-4">
							<mat-form-field class="example-full-width"
								appearance="fill">
								<mat-label>Trạng thái</mat-label>
								<mat-select [(ngModel)]="searchStatus"
									[ngModelOptions]="{standalone: true}">
									<mat-option *ngFor="let item of statusList; let i = index"
										[(value)]="statusList[i]">
										{{item}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<!-- button search -->
						<div class="col-md-4">
							<button [disabled]="isLoadingResults"
								type="submit"
								class="btn btn-info pull-right btn-w100">
								<em class="material-icons">search</em>
								Search
							</button>
						</div>
					</form>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table">
								<thead class=" text-primary">
									<th style="max-width: 120px; min-width: 120px; width: 120px;">Status</th>
									<th>
										<span (click)="increaseCount()">Content</span>
									</th>
								</thead>
								<tbody (mouseleave)="hoveredIndex=undefined"
									(cdkDropListDropped)="drop($event)"
									cdkDropList>
									<ng-container *ngIf="data && data.length; else noDataBlock">
										<tr *ngFor="let tdtd of data; let index = index"
											[ngClass]="{
                                        'warning': tdtd.status === TDTD_STATUS.NOT_YET,
                                        'success': tdtd.status === TDTD_STATUS.DONE,
                                        'primary': tdtd.status === TDTD_STATUS.NEW,
                                        'future': tdtd.status === TDTD_STATUS.TOMORROW,
                                        'past': tdtd.status === TDTD_STATUS.IN_PAST,
                                        'is-important': index < 7
                                    }"
											(mouseenter)="hoveredIndex=index"
											cdkDrag>
											<td class="text-center">
												<span (click)="updateStatus(tdtd, index)"
													class="hover-pointer"
													matTooltip="=> {{ tdtd.nextStatus || nextStatus(tdtd.status) }}">
													{{
                                                    tdtd.status }}
												</span>
												<div class="drag-to-reorder"
													cdkDragHandle>
													<img loading="lazy"
														class="png-to-icon"
														src="/assets/img/drag-up-and-down.svg"
														alt="drag">
												</div>
											</td>
											<td>
												<textarea [(ngModel)]="tdtd.content"
													[minRows]="1"
													[maxRows]="3"
													[useImportant]="true"
													(blur)="saveItem(tdtd.id, tdtd, index);false"
													type="text"
													class="editable wd100"
													autosize></textarea>
												<button [disabled]="isLoadingResults"
													(click)="deleteTDTD(tdtd)"
													type="button"
													matTooltip="Delete"
													class="btn-float-in-row pull-right mdc-icon-button material-icons red">
													<div class="mdc-icon-button__ripple"></div>
													delete
												</button>
											</td>
										</tr>
									</ng-container>
									<ng-template #noDataBlock>
										<tr class="text-center">
											<td colspan="100%"
												class="text-center">
												<app-table-loading (size)="'sm'"></app-table-loading>
												No data
											</td>
										</tr>
									</ng-template>
									<tr>
										<td colspan="100%">
											<button [disabled]="isLoadingResults"
												(click)="addToDoToDay()"
												type="button"
												matTooltip="Add Empty Row"
												class="btn btn-info pull-right btn-w100">
												<em class="material-icons">add</em>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
