<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Your Todo {{ searchDateDisplay }}</h4>
                    </div>
                    <form class="form-under-table-header row" (ngSubmit)="searchToDoToDay()">
                        <div class="col-md-4 control-and-btn-container">
                            <button class="btn btn-move" (click)="decreaseDate()">
                                <span class="material-icons">
                                    arrow_back_ios
                                </span>
                            </button>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Date</mat-label>
                                <input matInput [matDatepicker]="picker" name="date" [formControl]="searchDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <button class="btn btn-move" (click)="increaseDate()">
                                <span class="material-icons">
                                    arrow_forward_ios
                                    </span>
                            </button>
                        </div>
                        <!-- search status, default all -->
                        <div class="col-md-4">
                            <!-- <button class="btn btn-move" (click)="decreaseStatus()">
                                <span class="material-icons">
                                    arrow_back_ios
                                </span>
                            </button> -->
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Trạng thái</mat-label>
                                <mat-select [(ngModel)]="searchStatus" [ngModelOptions]="{standalone: true}">
                                    <mat-option *ngFor="let item of statusList; let i = index"
                                        [(value)]="statusList[i]">
                                        {{item}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!-- <button class="btn btn-move" (click)="increaseStatus()">
                                <span class="material-icons">
                                    arrow_forward_ios
                                    </span>
                            </button> -->
                        </div>
                        <!-- button search -->
                        <div class="col-md-4">
                            <button mat-raised-button type="submit" [disabled]="isLoadingResults"
                                class="btn btn-info pull-right btn-w100">
                                <i class="material-icons">search</i>
                                Search
                            </button>
                        </div>
                        <!-- button add -->
                        <!-- <div class="col-md-3">
                            <button mat-raised-button type="button" [disabled]="isLoadingResults"
                                class="btn btn-info pull-right" (click)="addToDoToDay()">
                                <i class="material-icons">add</i>
                                New
                            </button>
                        </div> -->
                    </form>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <!-- <th>
                                        ID
                                    </th> -->
                                    <th style="max-width: 120px; min-width: 120px; width: 120px;">
                                        Status
                                    </th>
                                    <th>
                                        <span (click)="increaseCount()">Content</span>
                                    </th>
                                    <!-- <th style="max-width: 95px; min-width: 95px; width: 95px;">
                                        Status
                                    </th> -->
                                    <!-- <th>
                                        Update Time
                                    </th> -->
                                </thead>
                                <tbody (mouseleave)="hoveredIndex=undefined" cdkDropList
                                    (cdkDropListDropped)="drop($event)">
                                    <ng-container *ngIf="data && data.length; else noDataBlock">
                                        <tr *ngFor="let tdtd of data; let index = index" cdkDrag [ngClass]="{
                                        'warning': tdtd.status === 'NOT_YET',
                                        'success': tdtd.status === 'DONE',
                                        'primary': tdtd.status === 'NEW',
                                        'future': tdtd.status === 'TOMORROW'
                                    }" (mouseenter)="hoveredIndex=index">
                                            <!-- <td>
                                            {{ tdtd.id }}
                                        </td> -->
                                            <td class="text-center">
                                                <span class="hover-pointer" (click)="updateStatus(tdtd, index)"
                                                    matTooltip="=> {{ tdtd.nextStatus || nextStatus(tdtd.status) }}">{{
                                                    tdtd.status }}</span>
                                                <div class="drag-to-reorder" cdkDragHandle>
                                                    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                                                        <path
                                                            d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
                                                        </path>
                                                        <path d="M0 0h24v24H0z" fill="none"></path>
                                                    </svg>
                                                </div>
                                            </td>
                                            <td>
                                                <textarea type="text" [(ngModel)]="tdtd.content" class="editable wd100"
                                                    (blur)="saveItem(tdtd.id, tdtd, index);false" autosize [minRows]="1"
                                                    [maxRows]="3" [useImportant]="true"></textarea>
                                                <button mat-raised-button type="button" matTooltip="Delete"
                                                    [disabled]="isLoadingResults"
                                                    class="btn btn-float-in-row btn-round btn-danger pull-right"
                                                    (click)="deleteTDTD(tdtd)">
                                                    <i class="material-icons red">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #noDataBlock>
                                        <tr class="text-center">
                                            <td colspan="100%" class="text-center">
                                                <app-table-loading (size)="'sm'"></app-table-loading>
                                                No data
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <tr>
                                        <td colspan="100%">
                                            <button mat-raised-button type="button" matTooltip="Add Empty Row"
                                                [disabled]="isLoadingResults" class="btn btn-info pull-right btn-w100"
                                                (click)="addToDoToDay()">
                                                <i class="material-icons">add</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>