<form class="form-under-table-header row">
	<!-- Title -->
	<textarea [(ngModel)]="itemSelected.title"
		[minRows]="1"
		[maxRows]="3"
		[useImportant]="true"
		name="title"
		type="text"
		class="editable wd100 editable-header"
		autosize>
	</textarea>

	<textarea [(ngModel)]="itemSelected.description"
		[minRows]="1"
		[maxRows]="3"
		[useImportant]="true"
		name="description"
		type="text"
		class="editable wd100"
		autosize>
	</textarea>
	<!-- permission -->
	<div class="col-md-4">
		<mat-form-field class="example-full-width"
			appearance="fill">
			<mat-label>Permission</mat-label>
			<mat-select [(ngModel)]="itemSelected.permission"
				[ngModelOptions]="{standalone: true}"
				name="permission">
				<mat-option *ngFor="let item of listPermisson; let i = index"
					[(value)]="listPermisson[i]">
					{{item}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<!-- background cover -->
	<div class="col-md-4">
		<mat-form-field class="example-full-width"
			appearance="fill">
			<mat-label>Background cover</mat-label>
			<mat-select [(ngModel)]="itemSelected.postBackgroundImg"
				name="postBackgroundImg">
				<mat-option *ngFor="let item of listFileOnServer; let i = index"
					[(value)]="listFileOnServer[i].urlGet">
					{{item.originName}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>
	<!-- type -->
	<div class="col-md-4">
		<mat-form-field class="example-full-width"
			appearance="fill"
			name="type">
			<mat-label>Type</mat-label>
			<mat-select [(ngModel)]="itemSelected.type">
				<mat-option *ngFor="let item of listPostType; let i = index"
					[(value)]="listPostType[i]">
					{{item}}
				</mat-option>
			</mat-select>
		</mat-form-field>
	</div>

	<!-- tag -->
	<div class="col-md-4">
		<mat-form-field class="example-chip-list">
			<mat-label>Tags:</mat-label>
			<mat-chip-grid #chipGrid
				aria-label="Enter Tag">
				<mat-chip-row *ngFor="let tag of itemSelected?.tags"
					[aria-description]="'press enter to edit ' + tag.name"
					(removed)="removeTag(tag)">
					{{tag.name}}
					<button [attr.aria-label]="'remove ' + tag.name"
						class=" mdc-icon-button material-icons"
						matChipRemove>
						<div class="mdc-icon-button__ripple"></div>
						cancel
					</button>
				</mat-chip-row>
				<input [matChipInputFor]="chipGrid"
					(matChipInputTokenEnd)="handleAddNewTag($event)"
					placeholder="New tag...">
			</mat-chip-grid>
		</mat-form-field>
	</div>
	<!-- cat -->
	<div class="col-md-4">
		<!-- <tag-input [(ngModel)]="itemSelected.category"
			[placeholder]="'+ Category'"
			[displayBy]="'name'"
			[identifyBy]="'_id'"
			[onTextChangeDebounce]="500"
			[onAdding]="handleAddNewCategory"
			name="cateogry">
			<tag-input-dropdown [autocompleteItems]="listCategory"
				[dynamicUpdate]="false"
				[zIndex]="10000"
				[displayBy]="'name'"
				[identifyBy]="'_id'"
				[showDropdownIfEmpty]="true">
				<ng-template let-item="item"
					let-index="index">
					{{ item.name }}
				</ng-template>
			</tag-input-dropdown>
		</tag-input> -->
		<mat-form-field class="example-chip-list">
			<mat-label>Categories:</mat-label>
			<mat-chip-grid #chipGrid2
				aria-label="Enter Categories">
				<mat-chip-row *ngFor="let category of itemSelected?.category"
					[aria-description]="'press enter to edit ' + category.name"
					(removed)="removeCategory(category)">
					{{category.name}}
					<button [attr.aria-label]="'remove ' + category.name"
						class=" mdc-icon-button material-icons"
						matChipRemove>
						<div class="mdc-icon-button__ripple"></div>
						cancel
					</button>
				</mat-chip-row>
				<input [matChipInputFor]="chipGrid2"
					(matChipInputTokenEnd)="handleAddNewCategory($event)"
					placeholder="New category...">
			</mat-chip-grid>
		</mat-form-field>
	</div>
	<div class="col-md-4">
		<button (click)="saveAndBack()"
			type="button"
			class="btn btn-info pull-right btn-w100">
			<i class="material-icons">save</i>
			Save & Back
		</button>
	</div>
	<!-- tools -->
	<div class="col-md-8 tool-container">
		<span (click)="openFullscreen()"
			class="material-icons md-36"
			matTooltip="Goto Full Screen">
			fullscreen
		</span>
	</div>
</form>

<div [ngStyle]="{'flex-direction': isSplitHorizontal ? 'column' : 'row'}"
	id="edit-post-container"
	class="edit-post-container">
	<!-- raw text -->
	<!-- <ng-container *ngIf="itemSelected.type === POST_TYPE.GHOST_EDITOR; else markdownPart">
        <mat-tab-group>
            <mat-tab label="Editor">
                <docu-editor class="editable wd100" (save)="itemSelected.contentGhostEditor = $event"
                    [documentation]="itemSelected.contentGhostEditor"
                    [ngClass]="{'split-horizontal': this.isSplitHorizontal}" (blur)="saveOnly()">
                </docu-editor>
            </mat-tab>
            <mat-tab label="Preview">
                <docu-article class="" [ngClass]="{'split-horizontal': this.isSplitHorizontal}"
                    [documentation]="itemSelected.contentGhostEditor">
                </docu-article>
            </mat-tab>
        </mat-tab-group>
    </ng-container> -->
	<mat-tab-group>
		<mat-tab label="Markdown">
			<textarea [(ngModel)]="itemSelected.content"
				[ngClass]="{ 'split-horizontal': this.isSplitHorizontal }"
				[minRows]="1"
				[useImportant]="true"
				(blur)="saveOnly()"
				type="text"
				class="editable wd100"
				autosize>
			</textarea>
		</mat-tab>
		<mat-tab label="Preview">
			<!-- text to markdown -->
			<markdown [ngClass]="{'split-horizontal': this.isSplitHorizontal}"
				[data]="itemSelected.content"
				class>
			</markdown>
		</mat-tab>
	</mat-tab-group>
</div>

<button (click)="saveAndBack()"
	type="button"
	class="btn btn-info pull-right btn-w100">
	<i class="material-icons">save</i>
	Save & Back
</button>
