<input type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

    {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <em class="material-icons">attach_file</em>
    </button>

</div>

<!-- <div class="progress">

    <mat-progress-bar class="progress-bar" mode="determinate" [value]="uploadProgress" *ngIf="uploadProgress">

    </mat-progress-bar>

    <em class="material-icons cancel-upload" (click)="cancelUpload()" *ngIf="uploadProgress">
        delete_forever
    </em>

</div> -->