<div class="about-me-components">
    <!-- **** **** **** **** LEFT NAVIGATE  **** **** **** ****-->
    <div class="left-navigation">
        <div class="aside">
            <div class="my-logo">
                <a [routerLink]="['/home']">
                    <img src="/assets/img/ghost.png" />
                </a>
            </div>
            <div class="nav-container">
                <ul class="nav">
                    <li>
                        <a href="#about-me">
                            <i class="fa fa-user"> </i>
                            About Me
                        </a>
                    </li>
                    <li>
                        <a href="#services">
                            <i class="fa fa-list"> </i>
                            Services
                        </a>
                    </li>
                    <li>
                        <a href="#portfolio">
                            <i class="fa fa-briefcase"> </i>
                            Portfolio
                        </a>
                    </li>
                    <li>
                        <a href="#contact">
                            <i class="fa fa-comments"> </i>
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- **** **** **** **** LEFT NAVIGATE END  **** **** **** ****-->

    <!-- **** **** **** **** MAIN CONTENT  **** **** **** ****-->
    <div class="about-me-content">

        <!-- **** **** **** **** ABOUT ME  **** **** **** ****-->
        <section class="about-me" id="about-me">
            <div class="section-header-container">
                <h2 class="section-header">
                    About Me
                </h2>
            </div>
            <div class="who-am-i-container">
                <h3 class="who-am-i">
                    I'm a Fullstack Web Developer
                </h3>
                <p>
                    I'm a Javascript lover.
                </p>
                <p class="description">
                    I'm looking for a challenging and rewarding position in an environment that offers an opportunity to
                    learn as well as gain experience in order to achieve organizational goals while attaining personal
                    growth.
                </p>
                <p class="description">
                    Techstack: MEAN, MERN.
                </p>
            </div>
            <div class="detail-info">
                <div class="info-container">

                </div>
                <div class="skill-container">

                </div>
            </div>
            <div class="education-container">

            </div>
            <div class="experience-container">

            </div>
        </section>
        <!-- **** **** **** **** ABOUT ME END **** **** **** ****-->


        <!-- **** **** **** **** SERVICES  **** **** **** ****-->
        <section class="services" id="services">
            <div class="section-header-container">
                <h2 class="section-header">
                    Services
                </h2>
            </div>

        </section>
        <!-- **** **** **** **** SERVICES END **** **** **** ****-->


        <!-- **** **** **** **** PORTFOLIO **** **** **** ****-->
        <section class="portfolio" id="portfolio">
            <div class="section-header-container">
                <h2 class="section-header">
                    Portfolio
                </h2>
            </div>

        </section>
        <!-- **** **** **** **** PORTFOLIO END **** **** **** ****-->

        <!-- **** **** **** **** CONTACT **** **** **** ****-->
        <section class="contact" id="contact">
            <div class="section-header-container">
                <h2 class="section-header">
                    Contact
                </h2>
            </div>
        </section>
        <!-- **** **** **** **** CONTACT END **** **** **** ****-->

    </div>
    <!-- **** **** **** **** MAIN CONTENT END **** **** **** ****-->
</div>