
.about-me-components {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: stretch;

    padding: 8px;
    height: 84vh;
}

section {
    min-height: 100vh;
    /* background: var(--bg-black-100); */
    display: block;
    padding: 16px;
    margin-bottom: 16px;
    border: double #00000030 1px;
    border-radius: 8px;
}

section:last-child {
    margin-bottom: 0;
}


.left-navigation {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-black-100);
    border-radius: 8px;
}

ul.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul.list.list-with-divider li {
    border-bottom: 1px solid #00000030;
}

ul.list.list-with-divider li:last-child {
    border-bottom: none;
}

ul.list li {
    padding: 12px 0;
}

.nav-container a {
    cursor: pointer;
}

.nav-container {
    /* width: 150px; */
    display: flex;
    align-content: center;
    justify-content: center;
}

a.ghost-nav-hight-light {
    color: #2196f3;
    font-weight: bold;
}

.my-logo {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.my-logo img {
    width: 50px;
}

.aside {
    /* position: fixed;
    top: 0;
    left: 0; */
}

.about-me-content {
    width: 80%;
    padding: 0 8px;
    overflow-y: scroll;
}

p {
    margin-bottom: 0px;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

.nav {
    flex-direction: column;
}

.base {
    font-size: 14px;
    line-height: 18px;
}

/* first section */
.about-me {
    /* position: relative; */
}

.dark400 {
    color: #334C65
}

.two-col {
    /* display: flex; */

}

.btn-float-bottom {
    position: absolute;
    z-index: 100;
    top: 80%;
}

.pdx-2 li {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.card {
    padding: 8px;
    background: var(--bg-black-100);
    height: calc(100% - 80px);
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
}

.section-header-container {}

.section-header {
    padding: 4px 12px;
    margin-bottom: 0;
    cursor: pointer;
}

.who-am-i-container {
    margin-bottom: 32px;
}

.description {}

.detail-info {
    position: relative;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}

.detail-info ul {
    min-width: 30%;
}

strong {
    font-weight: bold;
}

.time-line-container {}

.time-line-container {}

/* second section */
.services {}

/* third section */
.portfolio {}

/* fourth section */
.contact {}

/* .dynamic-text {
    color: #0068FF;
}

.dynamic-text li span {
    position: relative;
    float: left;
}

.dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #0068FF;
    background: #eeeeee;
    animation: typing 1.5s steps(10) infinite;
}
@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }
} */


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
