<div class="about-me-components">
    <!-- **** **** **** **** LEFT NAVIGATE  **** **** **** ****-->
    <div class="left-navigation">
        <div class="aside">
            <div class="my-logo">
                <a [routerLink]="['/home']">
                    <img src="/assets/img/ghost.png" />
                </a>
            </div>
            <div class="nav-container">
                <ul class="nav list list-with-divider">
                    <li>
                        <a class="abc" (click)="scrollTo('about-me')" [ngClass]="{
                            'ghost-nav-hight-light': currentActive === 0
                        }">
                            <i class="fa fa-user"> </i>
                            About Me
                        </a>
                    </li>
                    <li>
                        <a class="abc" (click)="scrollTo('services')" [ngClass]="{
                            'ghost-nav-hight-light': currentActive === 1
                        }">
                            <i class="fa fa-list"> </i>
                            Services
                        </a>
                    </li>
                    <!-- <li>
                        <a class="abc" (click)="scrollTo('portfolio')" [ngClass]="{
                            'ghost-nav-hight-light': currentActive === 2
                        }">
                            <i class="fa fa-briefcase"> </i>
                            Portfolio
                        </a>
                    </li> -->
                    <li>
                        <a class="abc" (click)="scrollTo('contact')" [ngClass]="{
                            'ghost-nav-hight-light': currentActive === 2
                        }">
                            <i class="fa fa-comments"> </i>
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <!-- **** **** **** **** LEFT NAVIGATE END  **** **** **** ****-->

    <!-- **** **** **** **** MAIN CONTENT  **** **** **** ****-->
    <div class="about-me-content" (scroll)="checkOffsetTop($event)" #aboutMeContent>

        <!-- **** **** **** **** ABOUT ME  **** **** **** ****-->
        <section class="about-me" id="about-me" #aboutMe>
            <div class="section-header-container box-border-tl-br" (click)="scrollTo('about-me')">
                <h2 class="section-header">
                    About Me
                </h2>
            </div>
            <div class="who-am-i-container">

                <ngx-typed-js [strings]="arrString" [shuffle]="true" [typeSpeed]="40" [loop]="true">
                    <h3>
                        <span class="static-text">I'm Ghost -&nbsp;</span>
                        <span class="typing"></span>
                    </h3>
                </ngx-typed-js>

                <list-badge [myStyles]="{'display': 'flex', 'margin': 'inherit', 'padding': '0 0 12px 0'}"></list-badge>
                <!-- <br /> -->
                <p>
                    I'm looking for a challenging and rewarding position in an environment that offers an opportunity to
                    learn as well as gain experience in order to achieve organizational goals while attaining personal
                    growth.
                </p>
                <!-- <br /> -->
                <strong>
                    Techstack: MEAN.
                </strong>
                <br/>
                <strong> 
                    Project 1: <a href="https://mc.zalopay.vn/" target="_blank" rel="noopener noreferrer">ZaloPay Merchant</a>
                </strong>
                <br/>
                <strong>
                    Project 2: <a href="https://ad.zalopay.vn/" target="_blank" rel="noopener noreferrer">ZaloPay Merchant Admin</a>
                </strong>
                <br />
            </div>
            <div class="detail-info">
                <!-- <div class="info-container"> -->
                <ul class="list list-with-divider">
                    <li>
                        <p>
                            <strong>
                                Birthday:
                            </strong>
                            10/09/1996
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>
                                Website:
                            </strong>
                            <a href="https://ghost-site.web.app">
                                ghost-site.web.app
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>
                                Degree:
                            </strong>
                            Bachelor
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>
                                City:
                            </strong>
                            HO CHI MINH City
                        </p>
                    </li>
                </ul>

                <ul class="list list-with-divider">
                    <li>
                        <p>
                            <strong>
                                Age:
                            </strong>
                            {{ yearOlds }}
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>
                                Email:
                            </strong>
                            <a href="mailto:mean.ghost.site@gmail.com">
                                mean.ghost.site@gmail.com
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>
                                Phone:
                            </strong>
                            <a href="phoneto:+84327123239">
                                +84 327 123 239
                            </a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>
                                Freelance:
                            </strong>
                            Available
                        </p>
                    </li>
                </ul>
                <!-- </div>
                <div class="skill-container"> -->
                <ul class="list pdx-2">
                    <li>
                        <progress-with-label [percent]="88" [label]="'Javascript'"></progress-with-label>
                    </li>
                    <li>
                        <progress-with-label [percent]="75" [label]="'HTML/CSS'"></progress-with-label>
                    </li>
                    <li>
                        <progress-with-label [percent]="80" [label]="'Angular'"></progress-with-label>
                    </li>
                    <li>
                        <progress-with-label [percent]="70" [label]="'NodeJS'"></progress-with-label>
                    </li>
                    <li>
                        <progress-with-label [percent]="70" [label]="'MongoDB'"></progress-with-label>
                    </li>
                </ul>
                <!-- </div> -->

                <ghost-site-btn (click)="downloadCV()" type="link" class="btn-float-bottom">
                    Download CV
                </ghost-site-btn>
                <!-- <ghost-site-btn (click)="hireMe()" type="link" class="btn-float-bottom" style="left: calc(120px + 5%)">
                    Hire Me
                </ghost-site-btn> -->
            </div>
            <div class="two-col row">
                <div class="time-line-container col-sm-12 col-lg-6">
                    <h3>
                        Education
                    </h3>
                    <div class="card">
                        <!-- Stepper HTML -->
                        <div class="step">
                            <div>
                                <div class="circle"></div>
                            </div>
                            <div>
                                <div class="title">
                                    <i class="fa fa-calendar"></i>
                                    2011 - 2014
                                </div>
                                <div class="content base dark400">
                                    High School<br />
                                    <a href="https://ndc.edu.vn/" target="_blank" rel="noopener noreferrer">
                                        Collège de Mytho (Trường Trung học Phổ thông Nguyễn Đình Chiểu)
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div>
                                <div class="circle"></div>
                            </div>
                            <div>
                                <div class="title">
                                    <i class="fa fa-calendar"></i>
                                    2014 - 2018
                                </div>
                                <div class="content base dark400">
                                    Software Engineer<br />
                                    <a href="https://www.hcmus.edu.vn/" target="_blank" rel="noopener noreferrer">
                                        HCMUS (Khoa học tự nhiên)
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div>
                                <div class="circle"></div>
                            </div>
                            <div>
                                <div class="title">
                                    <i class="fa fa-calendar"></i>
                                    2018 - present
                                </div>
                                <div class="content base dark400">
                                    Fullstack Software Engineer @
                                    <a href="https://frontendmasters.com/" target="_blank" rel="noopener noreferrer">
                                        Frontend Master
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- END Step -->
                    </div>
                </div>
                <div class="time-line-container col-sm-12 col-lg-6">
                    <h3>
                        Experience
                    </h3>
                    <div class="card">
                        <!-- Stepper HTML -->
                        <div class="step">
                            <div>
                                <div class="circle"></div>
                            </div>
                            <div>
                                <div class="title">
                                    <i class="fa fa-calendar"></i>
                                    2017 - 2018
                                </div>
                                <div class="content base dark400">
                                    VNG Corp<br />
                                    Javascript Fresher
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div>
                                <div class="circle"></div>
                            </div>
                            <div>
                                <div class="title">
                                    <i class="fa fa-calendar"></i>
                                    2018 - 2021
                                </div>
                                <div class="content base dark400">
                                    ZION<br />
                                    Frontend Engineer
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div>
                                <div class="circle"></div>
                            </div>
                            <div>
                                <div class="title">
                                    <i class="fa fa-calendar"></i>
                                    2022 - present
                                </div>
                                <div class="content base dark400">
                                    ZION, Freelancer<br />
                                    Fullstack Web Engineer
                                </div>
                            </div>
                        </div>
                        <!-- END Step -->
                    </div>
                </div>
            </div>

        </section>
        <!-- **** **** **** **** ABOUT ME END **** **** **** ****-->


        <!-- **** **** **** **** SERVICES  **** **** **** ****-->
        <section class="services" id="services" #services>
            <div class="section-header-container  box-border-tl-br" (click)="scrollTo('services')">
                <h2 class="section-header">
                    Services
                </h2>
            </div>
            <div class="services-container row">
                <div class="col-sm-12 col-lg-6">
                    <object data="https://ad.zalopay.vn" (click)="openAD()">
                        <embed src="https://ad.zalopay.vn" />
                    </object>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <object data="https://mc.zalopay.vn" (click)="openMC()">
                        <embed src="https://mc.zalopay.vn" />
                    </object>
                </div>
            </div>
        </section>
        <!-- **** **** **** **** SERVICES END **** **** **** ****-->


        <!-- **** **** **** **** PORTFOLIO **** **** **** ****-->
        <!-- <section class="portfolio" id="portfolio" #portfolio>
            <div class="section-header-container  box-border-tl-br" (click)="scrollTo('portfolio')">
                <h2 class="section-header">
                    Portfolio
                </h2>
            </div>

        </section> -->
        <!-- **** **** **** **** PORTFOLIO END **** **** **** ****-->

        <!-- **** **** **** **** CONTACT **** **** **** ****-->
        <section class="contact" id="contact" #contact>
            <div class="section-header-container  box-border-tl-br" (click)="scrollTo('contact')">
                <h2 class="section-header">
                    Contact
                </h2>
            </div>
            <div class="contact-us-container row">
                <h3>Send me a message</h3>
                <form [formGroup]="contactForm" (ngSubmit)="sendMessageToMe(contactForm.value)">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="Name" formControlName="name">
                                <mat-error>
                                    <span *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched">
                                        Please enter your name
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput type="email" placeholder="Email" formControlName="email">
                                <mat-error>
                                    <span *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched">
                                        Please enter your email
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="Subject" formControlName="subject">
                                <mat-error>
                                    <span
                                        *ngIf="!contactForm.get('subject').valid && contactForm.get('subject').touched">
                                        Please enter subject
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="Message" formControlName="message">
                                <mat-error>
                                    <span
                                        *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched">
                                        Please enter message
                                    </span>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-raised-button type="submit" [disabled]="!contactForm.valid || isRunning"
                        class="btn btn-info pull-right btn-w100">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </section>
        <!-- **** **** **** **** CONTACT END **** **** **** ****-->

    </div>
    <!-- **** **** **** **** MAIN CONTENT END **** **** **** ****-->
</div>