<div class="sidebar-wrapper">
    <div>
        <form class="navbar-form" (ngSubmit)="search">
            <span class="bmd-form-group">
                <div class="input-group no-border">
                    <input type="text" [(ngModel)]="stringToSearch" [ngModelOptions]="{standalone: true}"
                        placeholder="{{ _isInPDFView() ? 'Search in PDF' : 'Search in all page...' }}"
                        class="form-control">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </span>
        </form>
        <ul class="nav navbar-nav nav-menu-custom">
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">code</i>
                    <p>
                        <span class="d-lg-none d-md-block">Code Index</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink2">
                    <a class="dropdown-item" [routerLink]="['index/js-index']">
                        <i class="fab fa-js"></i>
                        JS Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/node-js-index']">
                        <i class="fab fa-node"></i>
                        NodeJS Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/angular-index']">
                        <i class="fab fa-angular"></i>
                        Angular Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/react-index']">
                        <i class="fab fa-react"></i>
                        React Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/html-index']">
                        <i class="fab fa-html5"></i>
                        Html Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/css-index']">
                        <i class="fab fa-css3"></i>
                        Css Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/git-index']">
                        <i class="fab fa-git"></i>
                        GIT Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/mongodb-index']">
                        <i class="fas fa-code"></i>
                        MongoDB Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/ts-index']">
                        <i class="fas fa-code"></i>
                        TypeScript Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/algorithms-index']">
                        <i class="fas fa-code"></i>
                        Algorithms Index
                    </a>
                    <a class="dropdown-item" [routerLink]="['index/react-native-index']">
                        <i class="fas fa-code"></i>
                        React Native Index
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="dropdown-item" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>