<div class="text-diff-container">

    <div class="textarea-container">
        <div class="ghost-backdrop highlights" innerHTML="{{ highlights1 }}">
            <!-- <pre class="highlights" innerHTML="{{ highlights1 }}">
            </pre> -->
        </div>
        <textarea class="ghost-text-area text-area-left" [(ngModel)]="visibleData1" (ngModelChange)="findDiff()"
            (scroll)="onScroll1($event)">
        </textarea>
    </div>
    <div class="json-controler">
        <button id="find-diff" mat-raised-button type="button" [disabled]="isLoadingResults"
            class="btn btn-info pull-right btn-responsive" (click)="findDiff()">
            <i class="material-icons">difference</i>
            Diff
        </button>
    </div>

    <div class="textarea-container">
        <div class="ghost-backdrop highlights" innerHTML="{{ highlights2 }}">
            <!-- <pre class="highlights" innerHTML="{{ highlights2 }}">
            </pre> -->
        </div>
        <textarea class="ghost-text-area text-area-right" [(ngModel)]="visibleData2" (ngModelChange)="findDiff()"
            (scroll)="onScroll2($event)">
        </textarea>
    </div>
</div>